// Admin Layout (ALUI)
// @author: WrapTheme ( https://themeforest.net/user/wrraptheme )
// @design by: ThemeMakker Infotech LLP.
// @event-namespace: ALUI
// Copyright 2021 WrapTheme


@import url(global/_mixins.scss);
@import url(global/_variables.scss);

[data-theme="dark"] {
	[class="theme-orange"],
	[class="theme-cyan"],
	[class="theme-indigo"],
	[class="theme-blue"],
	[class="theme-orange"],
	[class="theme-blush"],
	[class="theme-red"],
	[class="theme-green"]{
		--lightdark-color-rgba:rgba(0, 0, 0, 0.7);
	}
	.joing-info{
		color: #000;
	}
}

[data-theme="high-contrast"] {
	[class="theme-orange"],
	[class="theme-cyan"],
	[class="theme-indigo"],
	[class="theme-blue"],
	[class="theme-orange"],
	[class="theme-blush"],
	[class="theme-red"],
	[class="theme-green"] {
		--lightdark-color-rgba:rgba(0, 0, 0, 0.7);
	}
	.bg-dark,
	.bg-primary,
	.upcomming-event h2,
	.section#hero h2 span{
		color: var(--color-100);
	}
	.joinng{
		h3,p{
			color: var(--color-100);
		}
		.btn{
			border-color:var(--color-100) ;
		}
	} 
	.book_ticket {
		.card{
			.detail{
				&:before,&:after{
					background-color:var(--color-100);
				}
			}
		}
		form{
			span{
				color: var(--color-100);
			}
			.btn{
				border-color:var(--color-100) ;
			}
		}
	}
	.menu{
		.card-header{
			h6,span{
				color: var(--color-100);
			}
		}
	}
	.sponsors .single-client img{
		filter: grayscale(90%);
		-webkit-filter: grayscale(90%);
		-moz-filter: grayscale(90%);
	}
	.testimonials,
	.trainer{
		&.text-light{
			color: var(--color-100) !important;
		}
	}
}

[class="theme-orange"],
[class="theme-cyan"],
[class="theme-indigo"],
[class="theme-blue"],
[class="theme-orange"],
[class="theme-blush"],
[class="theme-red"],
[class="theme-green"]{
	--lightdark-color-rgba:rgba(0, 0, 0,.6);
	--body-color: #f7f7f7;
}
body{
    overflow-y: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  // IE 10+
    scrollbar-width: none; // Firefox
	font-size: 15px;

    &::-webkit-scrollbar {
        width: 6px;
    }
    
    // Track /
    &::-webkit-scrollbar-track {
        background: var(--dark-color);
    }    
    // Handle /
    &::-webkit-scrollbar-thumb {
        background: linear-gradient(-45deg, var(--secondary-color), var(--primary-color));
    }

	a {
		color: var(--primary-color);
		text-decoration: none;
		
		&:hover {
			color: var(--primary-color);
			text-decoration: none;
		}
	}

	&.rtl_mode{
		.swiper-container{
			direction: ltr;
			text-align: left;
		}
		.accordion-button::after{
			margin-right: auto;
			margin-left: unset;
		}
	}
}

.back-to-top {
	background: var(--primary-color);
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 996;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	transition: all 0.4s;
	i {
		color: var(--color-fff);
		font-size: 28px;
		line-height: 0;
	}
	&:hover {
		background: var(--primary-color);
		color: var(--color-fff);
	}
    &.active{
        visibility: visible;
	    opacity: 1;
    }
}

#topbar {
	padding: 0;
	font-size: 15px;
	height: 50px;
	transition: all 0.5s;
	background: rgba(26, 24, 22, 0.8);
	z-index: 996;
	color: rgba(255, 255, 255, 0.7);
	i {
		color: var(--primary-color);
		line-height: 0;
		span {
			color: var(--white-color);
			font-style: normal;
		}
	}
    &.topbar-transparent {
        background: transparent;
    }
    &.topbar-scrolled {
        top: -50px;
    }
}

// ==============================================================
.section{
	.section-title{
		h2{
			position: relative;
			display: inline-flex;
			font-weight: 600;
			margin-bottom: 25px;
			&:before{
				background-color: var(--primary-color);
				content: "";
				position: absolute;
				width: 28px;
				height: 5px;
				bottom: -15px;
				left: 50%;
				margin-left: -14px;
			}
			&:after{
				background-color: var(--primary-color);
				content: "";
				position: absolute;
				width: 100px;
				height: 1px;
				left: 50%;
				bottom: -13px;
				margin-left: -50px;
			}
		}
		p{
			margin: auto;
			width: 70%;
			
			@media (max-width: 767px) {
				width: 90%;
			}
		}
	}
	&#header {
		top: 20px;
		height: 70px;
		z-index: 997;
		transition: all 0.5s;
		padding: 10px 0;
		background: rgba(26, 24, 22, 0.85);
		.logo {
			a {
				color: var(--white-color);
				font-weight: bold;
				text-decoration: none;
				font-size: 28px;
				margin: 0;
				line-height: 1;
				
				&:hover {
					color: var(--white-color);
					text-decoration: none;
				}
			}
		}
		&.header-transparent {
			background: transparent;
		}
		&.header-scrolled {
			top: 0;
			background: rgba(26, 24, 22, 0.85);
		}
	
		@media (max-width: 992px) {
			top:0px;
		}
		.navbar {
			padding: 0;
			ul {
				display: flex;
				list-style: none;
				align-items: center;
				margin: 0;
				padding: 0;
				
				@media (max-width: 991px) {
					display: none;
				}
			}
			> ul > li {
				position: relative;
				white-space: nowrap;
			}
			li {
				position: relative;
			}
			a, a:focus{
				color: var(--white-color);
				display: flex;
				align-items: center;
				justify-content: space-between;
				white-space: nowrap;
				transition: 0.3s;
				border-bottom: 2px solid transparent;
				font-size: 16px;

				i{
					font-size: 12px;
					line-height: 0;
					margin-left: 5px;
				}
			}
			a:hover,
			.active,
			.active:focus,
			li:hover > a {
				color: var(--primary-color);
				border-bottom: 2px solid var(--primary-color);
			}
			.mobile-nav-toggle {
				color: var(--color-500);
				cursor: pointer;
				display: none;
				font-size: 28px;
				line-height: 0;
				transition: 0.5s;
				&.bi-x {
					color: var(--white-color);
				}
				@media (max-width: 991px) {
					display: block;
				}
			}
			&.navbar-mobile {
				background: var(--primary-color);
				position: fixed;
				overflow: hidden;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				transition: 0.3s;
				z-index: 999;
			
				.mobile-nav-toggle {
					position: absolute;
					top: 30px;
					right: 15px;
				}
				ul {
					background-color: var(--white-color);
					overflow-y: auto;
					display: block;
					position: absolute;
					top: 55px;
					right: 15px;
					bottom: 15px;
					left: 15px;
					padding: 10px 0;
					transition: 0.3s;
				}
				> ul > li {
					padding: 0;
				}
				a {
					color: var(--color-500);
					border: none;
					padding: 10px 20px !important;
				}
				.dropdown {
					ul {
						background: var(--white-color);
						visibility: visible;
						position: static;
						display: none;
						margin: 10px 20px;
						padding: 10px 0;
						z-index: 99;
						opacity: 1;
						box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
						li {
							min-width: 200px;
						}
						a {
							padding: 10px 20px;
						}            
					}
					> .dropdown-active {
						display: block;
					}
				}
				.getstarted {
					margin: 15px;
				}
			}
		}
	}
	&.trainer{
		.card{
			position: relative;
			transition: box-shadow 0.35s ease;
			overflow: hidden;
			&:before {
				content: "";
				display: block;
				width: 100%;
				padding-bottom: 100%;
			}
			.trainer-block{
				display: flex;
				flex-direction: column;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				.trainer-img{
					flex: 4 0 auto;
					background-position: top;
					background-size: cover;
					transform: scale(1.2);
					transition: transform 0.35s ease;
				}
				.trainer-content {
					background-color: var(--card-color);
					display: flex;
					align-items: center;
					justify-content: center;
					overflow: hidden;
					flex: 0 0 0;
					transition: flex-grow 0.35s ease;
				}
				.trainer-caption {
					color: var(--color-500);
					overflow: hidden;
					opacity: 0;
					transform: scale(0.5) translateY(100%);
					transition: opacity 0.35s linear, transform 0.35s ease;
				}
			}
			&:hover{
				transform: scale(1);
				.trainer-img{
					transform: scale(1);
				}
				.trainer-content {
					flex-grow: 1;
				}
				.trainer-caption {
					transform: scale(1);
					opacity: 1;
				}
			}
		}
	}
	&.joinng{
		.joing-info{
			p{
				font-size: 17px;
			}
		}
		
	}
	&#hero {
		overflow: hidden;
		width: 100%;
		height: 80vh;
		background-color: rgba(39, 37, 34, 0.8);
		padding: 0;
		
		.carousel-item {
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			width: 100%;
			height: 80vh;

			&::before {
				content: '';
				background-color: rgba(12, 11, 10, 0.3);
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
			}
		}
		.carousel-container {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			bottom: 0;
			top: 0;
			left: 0;
			right: 0;
		}
		.carousel-content {
			text-align: left;
			@media (max-width: 1440px) {
				text-align: center;
			}
		}
		h2 {
			color: var(--white-color);
			span {
				background-color: var(--primary-color);
				padding: 2px 5px;
			}
		}
		.btn{
			color: var(--color-fff);
		}
		p {
			color: var(--white-color);
			font-size: 18px;
			width: 50%;
			-webkit-animation-delay: 0.4s;
			animation-delay: 0.4s;
			
			@media (max-width: 1440px) {
				text-align: center;
				margin: auto;
			}
			@media (max-width: 767px) {
				width: 80%;
			}
		}
		.carousel-inner {
			.carousel-item {
				transition-property: opacity;
				background-position: center top;
				opacity: 0;
			}
			.active.carousel-item-start,.active.carousel-item-end {
				opacity: 0;
				left: 0;
				transform: translate3d(0, 0, 0);
			}
			.active,.carousel-item-next.carousel-item-start,
			.carousel-item-prev.carousel-item-end {
				opacity: 1;
				transition: 0.5s;
			}
			.carousel-item-next,.carousel-item-prev{
				left: 0;
				transform: translate3d(0, 0, 0);
			}
		}
		.carousel-control-next-icon,.carousel-control-prev-icon {
			color: var(--white-color);
			background: none;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 30px;
			line-height: 0;
			border-radius: 50px;
			transition: 0.3s;
			width: 54px;
			height: 54px;
			&:hover {
				color: rgba(255, 255, 255, 0.8);
			}
		}
		.carousel-indicators {
			display: none;
		}
		
	}
	&.workout-info{
		position: relative;
		z-index: 9;
		margin-top: -80px;
	}
	&.testimonials{
		position: relative;
		.testimonial-wrap {
			padding-left: 50px;
			@media (max-width: 767px) {
				padding-left: 0px;
			}
		}
		.testimonial-item {
			border-left: 5px solid var(--border-color);
			position: relative;
			box-sizing: content-box;
			padding: 30px 30px 30px 40px;
			margin: 30px 15px;
			min-height: 200px;
	
			.testimonial-img {
				position: absolute;
				width: 80px;
				left: -70px;
				@media (max-width: 767px) {
					position: static;
					left: auto;
				}
			}
			@media (max-width: 767px) {
				padding: 30px;
				margin: 15px;
			}
		}
		
		.fa-quote-left,
		.fa-quote-right {
			font-size: 26px;
		}
	
		.swiper-pagination {
			position: relative;
			margin-top: 20px;
	
			.swiper-pagination-bullet {
				background-color: var(--white-color);
				border: 1px solid var(--primary-color);
				width: 12px;
				height: 12px;
				opacity: 1;
			}
			.swiper-pagination-bullet-active {
				background-color: var(--primary-color);
			}
		}
	}
	&.contact{
		.single-info {
			text-align: left;
			display: flex;
			i {
				display: inline-block;
				display: block;
				text-align: center;
				line-height: 26px;
				font-size: 18px;
				margin-right: 20px;
			}
			ul{
				list-style: none;
				padding: 0;
				margin: 0px;
				li{
					font-size: 16px;
				}
			}
		}
	}
}